body{
  background:url('https://edge.mwallpapers.com/photos/celebrities/animals/cute-cat-wallpaper-hd-pics-one-for-pc-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-68jap.jpg') center center fixed;
  background-size:cover;
}
.container{
  backdrop-filter:blur(5px);
  background:rgba(255,255,255,0.4);
  border-radius:10px;
  width:40%;
  padding:20px 30px;
  margin:80px auto auto auto;
  text-align:center;
  box-shadow:3px 3px 5px black;
}
h2{
  font-size:30px;
  margin-left:-250px;
}
label{
  cursor:pointer;
  font-size:18px;
  font-weight:600;
}
input{
  background:rgba(255,255,255,0);
  border:none;
  width:50%;
  padding:5px;
  border-bottom:2px solid grey;
  cursor:pointer;
}
.input{
  padding:10px 0;
}
button{
  background:rgba(255,255,255,0);
  width:70px;
  padding:5px;
  border:2px solid grey;
  margin:10px auto 15px auto;
  font-size:16px;
  cursor:pointer;
}
button:hover{
  background:white;
}

@media screen and (max-width:600px){
  .container{width:80%;}
  h2{margin-left:-100px;}
}
@media screen and (min-width:600px) and (max-width:900px){
  .container{width:60%;}
  h2{margin-left:-200px;}
}
